# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.chroma
*.log
**/*.egg-info/
*.egg-info/
.venv
.vscode
profile.html
*.pkl
*.whl
libs
*tar.gz
*.pth*
*.pt*

build/

coverage.xml
.coverage

secrets/
.env

.DS_Store

Data/
*.csv
*.xlsx
*.zip
*.bk

*.json
*.jpeg
*.png
monitor_git.py
Notes.md
redeploy.sh
src/routers/test.py
attachments
brochure
resume
hfe_images
adbanner
alembic/