<div style="margin: 50px auto; width: 60%; font-family: Inter;">
  <div style="padding: 12px; background-color: #efe9d9; display: flex; border-radius: 6px; margin-bottom: 30px;">
    <a href="#" style="width:100%; text-align:center;">
      <img src="http://45.248.33.189:8100/images/HFElogo.png" alt="Logo" />
    </a>
  </div>

  <p style="font-size: 16px; color: #0a0d14;">Hi {{ service_provider_name }},</p>

  <p style="font-size: 16px; color: #0a0d14;">Welcome to the <strong>HFE Titanium Plan</strong> — we’re excited to have you on board!</p>
    <p style="font-size: 16px; color: #0a0d14;">
    As part of your registration, you have been granted a <strong>90-day free trial</strong> to explore the benefits of your selected plan, <strong>{{ plan_name }}</strong>. During this trial period, you will have access to all the features of your chosen plan.
  </p>
  <div style="border-top: 1px solid #ccc; margin: 20px 0;"></div>

  <p style="font-size: 16px; color: #0a0d14;">You can now log in and start setting up your account using the details below:</p>

  <div style="background-color: #f1f1f1; padding: 16px; border-radius: 6px; margin: 16px 0;">
    <p><strong>Login URL:</strong> <a href="{{ login_url }}">{{ login_url }}</a></p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Temporary Password:</strong> {{ temp_password }}</p>
  </div>

  <p style="font-size: 14px; color: #555;">(You can update your password anytime from your profile settings.)</p>

  <p style="font-size: 16px; color: #0a0d14;">If you have any questions, contact us at <strong>{{ support_contact }}</strong>.</p>

  <p style="margin-top: 30px;">Warm regards,</p>

  <p>
    HFE Support<br>
    supportmail@.com
  </p>
</div>
  