<div style="margin: 50px auto; width: 60%; font-family: Inter, sans-serif;">
    <div style="padding: 12px; background-color: #efe9d9; display: flex; border-radius: 6px; margin-bottom: 30px;">
      <a href="#" style="width:100%; text-align:center;">
        <img src="http://45.248.33.189:8100/images/HFElogo.png" alt="Logo" />
      </a>
    </div>
  
    <p style="font-size: 16px; color: #0a0d14;">Hi {{ service_provider_name }},</p>
  
    <p style="font-size: 16px; color: #0a0d14;">
      We are pleased to inform you that your account has been successfully verified by the Super Admin team on the <strong>Hope For Everybody (HFE)</strong> platform.
    </p>
  
    <p style="font-size: 16px; color: #0a0d14;">
      As part of your registration, you have been granted a <strong>90-day free trial</strong> to explore the benefits of your selected plan, <strong>{{ plan_name }}</strong>. During this trial period, you will have access to all the features of your chosen plan.
    </p>
  
    <div style="background-color: #f1f1f1; padding: 16px; border-radius: 6px; margin: 16px 0;">
      <p><strong>Email:</strong> {{ email }}</p>
      <p><strong>Password:</strong> {{ temp_password }}</p>
      <p><strong>Login URL:</strong> <a href="{{ login_url }}">{{ login_url }}</a></p>
    </div>  
    <p style="font-size: 16px; color: #0a0d14;">
      If you have any questions or need assistance, please don’t hesitate to contact our support team.
    </p>
  
    <p style="margin-top: 30px;">Thank you,</p>
  
    <p>
      The HFE Team<br>
      <a href="{{ website_url }}" style="color: #0a0d14;">{{ website_url }}</a> | <a href="mailto:{{ support_contact }}" style="color: #0a0d14;">{{ support_contact }}</a>
    </p>
  </div>
  